:root {
    --primary-color: rgb(241, 241, 162);
    --primary-color-80: rgba(231, 231, 147, 0.65);
    --primary-color-50: rgba(231, 231, 147, 0.5);
    --primary-color-20: rgba(231, 231, 147, 0.3);
    --secondary-color: rgb(37, 37, 37);
    --secondary-color-80: rgba(0, 0, 0, 0.8);
    --header-color: rgb(255, 255, 255);
    --text-color: rgb(101, 101, 101);
    --big-title: 46pt;
    --normal-title: 28pt;
    --small-title: 20pt;
    --sub-title: 18pt;
    --big-text: 14pt;
    --text: 12pt;
    --small-text: 10pt;
    --light-gray: #eee;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}