:root {
    --primary-color: rgb(235, 220, 10);
    --primary-color-80: rgba(235, 220, 107, 0.448);
    --primary-color-75: rgba(235, 220, 10, 0.95);
    --primary-color-50: rgba(235, 220, 17, 0.5);
    --primary-color-20: rgba(235, 220, 17, 0.3);
    --secondary-color: rgb(37, 37, 37);
    --secondary-color-80: rgba(0, 0, 0, 0.8);
    --header-color: rgb(37, 37, 37);
    --text-color: rgb(101, 101, 101);
    --big-title: 40pt;
    --normal-title: 28pt;
    --small-title: 20pt;
    --sub-title: 18pt;
    --big-text: 14pt;
    --text: 12pt;
    --small-text: 10pt;
    --light-gray: #eee;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.loading{
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

/* Initial state: hidden and slightly shifted */
.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

/* Active state: fully visible and in place */
.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}
