.header-container {
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.contact-header {
    z-index: 10;
    padding: 10px 150px;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--small-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-header .contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-header .contact-info p {
    display: flex;
    gap: 10px;
    font-weight: 700;
    align-items: center;
}

.contact-header .socials {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-header .socials .icon {
    width: 20px;
    height: 20px;
}

.contact-header .socials .icon:hover {
    cursor: pointer;
}

.header {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.header .logo {
    font-size: var(--sub-title);
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
}

.header .logo img {
    height: 100px;
}

.header .menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header .menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-option {
    list-style: none;
    color: white;
    font-weight: 500;
    transition: .3s ease;
}

.menu-option:hover {
    cursor: pointer;
    color: var(--primary-color);
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
    transition: .3s ease;
}

.menu-button {
    position: relative;
    background: none;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    padding: 10px 12px;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-button  p{
    position: relative;
    font-size: var(--small-text);
    z-index: 10;
    transition: 0.3 ease 0.15s;
}


.menu-button  .animated_bg {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    transition: 0.3s ease;
    color: var(--primary-color);
}

.menu-button:hover{
    border: 1px solid var(--primary-color);
}
.menu-button:hover .animated_bg {
    right: 0;
    width: 100%;
    transition: 0.3s ease;
}

.menu-button:hover p {
    color: white;
    transition: 0.3s ease;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(63, 63, 63, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10000;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translateY(0); /* slide down into place */
    transition: 0.3s ease;
}

.header .vertical-menu-button {
    display: none;
    flex-direction: column;
    gap: 8px;
    width: 30px;
    height: 30px;
    justify-content: center;
}

.header .vertical-menu-button .bar {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: white;
}

.header .vertical-menu-button .middle {
    width: 70%;
    transition: .3s ease;
}

.header .vertical-menu-button:hover {
    cursor: pointer;
}

.header .vertical-menu-button:hover .middle {
    width: 100%;
    transition: .3s ease;
}

@media screen and (max-width: 1000px) {

    .contact-header {
        padding: 10px 50px;
    }

    .header {
        padding: 0 50px;
    }

    .header .menu {
        display: none;
    }

    .header .vertical-menu-button {
        display: flex;
    }
}